/*
 *
 * Module Name: MMM-Binance
 *
 * By: Thomas Samai
 * Licensed.
 *
 * Customise CSS here
 *modules/MMM-Binance/MMM-Binance.css
 */
 .header{
    color: white;      /* Header color. Default is white. */
    text-align: left;    /* Align header text. (left, center, right) */
  }

  .asset {
    padding-left: 0px;
    color: white; 
    padding-right: 10px;
    font-size:x-large;
    vertical-align: top;
  }
  .symbol {
    padding-left: 0px;
    color: white; 
    font-size:x-large;
    vertical-align: top;
    text-align: right;    
  }